body {
    background-color: white !important;
}
#offCanvasLeft ul {
    list-style-type: none;
}
.link {
    cursor: pointer;
    color: #3f729b;
}
#location-status {
    height:1.5rem;
    width:1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
#content {
    width:100% !important;
    max-width:100% !important;
}
.share-error-msg {
    justify-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background: rgba(215, 1, 1, 0.31);
    border: 2px solid #d70101;
    padding: 20px;
    margin: 20px;
    width: 100%;
}
